.side{
    background-color: rgba(255, 217, 0, 0.664);
    display: grid;
    align-items: left;
    width: 28%;
    height: 47rem;
    position: relative;
    padding: 2rem;
    line-height: 6rem;
}

button{
    padding: 2rem;
    width: 30rem;
    font-size: 3rem;
}
.h{
    font-size: 4rem;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    padding-bottom: 2rem;
}
